:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue-two: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: #eee;
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  background-color: var(--Very-Light-Gray);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  background-color: var(--Dark-Blue);
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--Dark-Gray);
  border-radius: 7px;
}

.header {
  height: 80px;
  background-color: var(--White);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 2px 5px var(--Dark-Gray);
}

.header__title {
  margin-left: 20px;
  font-size: 1.2em;
  width: 50%;
}

@media screen and (min-width:1024px) {
  .header__title {
    padding-left: 5rem;
    font-size: 2em;
    font-weight: 800;
  }
}

.header__mode {
  width: 50%;
  padding: 2em;
  position: relative;
}

.header__img {
  position: absolute;
  top: 5px;
  left: 25%;
  width: 25px;
  height: 25px;
}

@media screen and (min-width:1024px) {
  .header__img {
    left: 80%;
  }
}

.header__dark {
  position: absolute;
  top: 0;
  left: 45%;
  font-weight: 800;
  font-size: 1em;
}

@media screen and (min-width:1024px) {
  .header__dark {
    left: 85%;
  }
}

.cards {
  width: 85%;
  display: grid;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width:768px) {
  .cards {
    grid-template-columns: repeat(2, 300px);
    gap: 20px;
  }
}

@media screen and (min-width:1024px) {
  .cards {
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
  }
}

.card {
  height: 450px;
  background-color: var(--White);
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 3px 3px 0 var(--Dark-Gray);
}

.card__header {
  height: 275px;
}

.card__img {
  width: 100%;
}

.card__body {
  padding-left: 1em;
}

.card__infoPop,
.card__infoR,
.card__infoCa {
  display: flex;
  justify-content: space-around;
}

.card__population,
.card__region,
.card__capital {
  font-weight: 800;
}

.card__name {
  text-align: center;
  font-size: 1.8em;
  margin-top: -25px;
  font-weight: 800;
}

.form {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width:768px) {
  .form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.form__search,
.form__region {
  display: block;
  box-shadow: 0 2px 5px var(--Dark-Gray);
}

.form__search {
  text-align: center;
  width: 90%;
  outline: none;
  border: none;
  padding: 1.2em;
  border-radius: 7px;
  background-color: var(--White);
  background-image: url('/icon--search.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 20px 15px;
}

@media screen and (min-width:1024px) {
  .form__search {
    width: 30%;
    margin-left: 2em;
  }
}

.form__region {
  width: 40%;
  border-radius: 7px;
  padding: 0.6em;
  outline: none;
  border: none;
  align-self: flex-start;
  margin-left: 20px;
}

@media screen and (min-width:1024px) {
  .form__region {
    width: 30%;
    align-self: center;
    margin-right: 2em;
  }
}

.waiting {
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: none;
  border-left-color: orange;
  /* animation: spin 1s linear infinite; */
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

.waiting--on {
  display: block;
  animation: spin 1s linear infinite;
}

.back {
  display: inline-block;
  padding: 1.2em;
  width: 100px;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: 25px;
  text-decoration: none;
  background-color: var(--White);
  background-image: url('/arrow--back.svg');
  background-repeat: no-repeat;
  background-position: 10px 19px;
  background-size: 20px;
  color: var(--Very-Dark-Blue-two);
  box-shadow: 3px 3px 5px 3px var(--Dark-Gray);
  font-size: 1.2em;
  font-weight: 800;
  text-align: right;
}

.info {
  background-color: var(--White);
  border-radius: 10px;
  margin-bottom: 25px;
  box-shadow: 0 3px 3px 0 var(--Dark-Gray);
}
.info__header{
  height: 250px;
}
.info__body,
.info__borders{
  padding-left: 1em;
}
.info__img{
  width: 100%;
}
.info__general{
  margin-bottom: 25px;
}
.info__title{
  color: var(--Dark-Blue);
  font-size: 1.5em;
  padding-left: 0.7em;
}

.info__native,
.info__population,
.info__region,
.info__subregion,
.info__capital,
.info__level,
.info__currency,
.info__lang{
  color: var(--Dark-Blue);
  font-size: 1.2em;
  font-weight: 800;
  margin-right: 10px;
}

.borders__title{
  color: var(--Dark-Blue);
  font-weight: 800;
  font-size: 1.3em;
}
.info__front{
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 90px;
  height: 25px;
  margin-bottom: 10px;
  border: 1px solid var(--Dark-Gray);
  text-decoration: none;
  color: var(--Very-Dark-Blue-two);
  font-size: 1em;
  font-weight: 800;
  text-align: center;
  box-shadow: 5px 5px 10px 0 var(--Dark-Gray);
}
